$base-fonts: "Helvetica", "Geo Sans Light", "Verdana", "Sans-Serif";
$global-fonts: $base-fonts;

/** Animation Speeds **/
$ani-speed-0: 0.08s;
$ani-speed-1: 0.13s;
$ani-speed-2: 0.21s;
$ani-speed-3: 0.34s;
$ani-speed-5: 0.55s;
$ani-speed-8: 0.89s;
$ani-speed-10: 1s;
$ani-speed-13: 1.3s;
