<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chapter 3 - Translation - WebGL Programming Guide</title>
</head>
<body>
<canvas width="320px" height="240px" id="canvas1"></canvas>
<script type="text/shader" id="basic-vertex-shader">
attribute vec4 a_Position;
uniform vec4 u_Translation;
void main () {
    gl_Position = a_Position + u_Translation;
}
</script>
<script type="text/shader" id="basic-fragment-shader">
void main () {
    gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);
}
</script>
<!--<script src="webgl-programming-guide/old_lib/webgl-utils.js"></script>-->
<!--<script src="webgl-programming-guide/old_lib/webgl-debug.js"></script>-->
<script src="../../webgl-programming-guide/lib/cuon-utils.js"></script>
<script src="../../webgl-programming-guide/lib/cuon-matrix.js"></script>
<script src="../node_modules/sjljs/sjl.min.js"></script>
<script src="../../lib/WebGlUtils-2.js"></script>
<script src="translation.js"></script>
</body>
</html>