> nav.mobile-nav {
  position: fixed;
  width: 55vw;
  height: 100vh;
  top: 0;
  margin: 0;
  box-sizing: border-box;
  background: $color-3-1;
  overflow: auto;
  @include opacity(0);
  @include transform(translateX(-100%));
  @include transition(fit-with-browser-prefixes((
          (transform $ani-speed-3 ease-in-out),
          (opacity $ani-speed-3 ease-in-out),
          (top $ani-speed-3 ease-in-out),
  ), (transform, opacity)));
  will-change: fit-with-browser-prefixes((transform,), transform);
  z-index: 90;

  .close-btn {
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
  }
  ul {
    position: absolute;
    display: block;
    width: 100%;
    padding: 13px 13px 0;
    margin: 0;
  }
  ul li {
    display: block;
    clear: both;
    float: none;
    margin-bottom: 5px;
  }
  ul li a {
    color: #FFF;
  }
}

.overlay-header + .mobile-nav.active {
  @include transform(translateX(0));
  @include opacity(1);
}
