@import "key-frames";

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &,
  * {
    @extend %border-box;
  }
  > * {
    width: 100%;
  }
  > * > * {
    max-width: $container-max-width;
    margin: auto;
  }

  > header,
  > footer {
    position: relative;
    height: auto;
  }

  /** Import: Header, Nav, and Footer **/
  @import "header";
  @import "main";
  @import "hamburger-btn";
  @import "nav";
  @import "mobile-nav";
  @import "overlay-bg";
}

