#wrapper {
  .block {
    display: block;
  }
  .inline {
    display: inline-block;
  }
  .none {
    display: none;
  }
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.form-field {
  display: inline-block;
  margin: 5px;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}
