> main {

  .h2 {
    color: $color-3-1;
    font: normal 21px $global-fonts;
    line-height: 21px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .h3 {
    color: $color-3-1;
    font: normal 1rem $global-fonts;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  section, header {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    p a {
      @include with-browser-prefixes(transition,
              fit-with-browser-prefixes((
                      opacity $ani-speed-1,
                      color $ani-speed-1
              ), (opacity)
              )
      );
      color: $color-3-1;
      &:hover {
        color: $color-4-1;
      }
      &.active,
      &:active {
        color: $color-4-2;
      }
    }
  }

  > div > section.view-area {
    padding: 1rem;
    transition: opacity 0.08s linear;
    opacity: 0;

    canvas {
      max-width: 100%;
    }
    .canvas-experiment {
      flex-basis: 377px;
      margin-bottom: 34px;
    }
    .canvas-experiment:last-child {
      margin-bottom: 0;
    }
    .chapter {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  > div > section.view-area.visible {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 3840px) {
  main > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 13px;

    > nav {
      flex-basis: 21%;
    }
    > section {
      flex-basis: 89%;
    }

    > * {
      margin-right: 13px;
    }
  }
}

