@import "key-frames";

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &,
  * {
    @extend %border-box;
  }
  > * {
    width: 100%;
  }
  > * > * {
    margin: auto;
  }

  > header,
  > footer {
    position: relative;
    height: auto;
  }

  /** Import: Header, Nav, and Footer **/
  @import "header";
  @import "main";
  @import "hamburger-btn";
  @import "nav";
  @import "overlay-bg";
}

@media (min-width: 320px) and (max-width: 767px) {
  html.mobile-nav-active {
    .overlay-bg {
      top: 0;
      left: 0;
    }
    #wrapper main > div > nav,
    #wrapper > .overlay-bg {
      @include transform(translateX(0));
      @include opacity(1);
    }
  }
}

@media (min-width: 320px) and (max-width: 1439px) {
  #wrapper > * > * {
    max-width: 100%;
  }
}

@media (min-width: 1440px) and (max-width: 3840px) {
  #wrapper > * > * {
    max-width: $container-max-width;
  }
}
