<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Attribute Size</title>
</head>
<body>
<canvas width="550px" height="400px" id="canvas1"></canvas>
<script type="text/shader" id="basic-vertex-shader">
attribute vec4 a_Position;
attribute float a_PointSize;
void main () {
    gl_Position = a_Position;
    gl_PointSize = a_PointSize;
}
</script>
<script type="text/shader" id="basic-fragment-shader">
void main () {
    gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);
}
</script>
<!--<script src="webgl-programming-guide/old_lib/webgl-utils.js"></script>-->
<!--<script src="webgl-programming-guide/old_lib/webgl-debug.js"></script>-->
<script src="../../webgl-programming-guide/lib/cuon-utils.js"></script>
<script src="../../webgl-programming-guide/lib/cuon-matrix.js"></script>
<script src="../node_modules/sjljs/sjl.min.js"></script>
<script src="../../lib/WebGlUtils-2.js"></script>
<script src="MultiAttributeSize2-Interleaved.js"></script>
</body>
</html>